/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Global Buddypress CSS
# rtMedia Specific
# Activity Directory
# Members Directory
# Groups Directory
# Member Single
# Group Single
# BuddyPress Sidebar
# BuddyPress Profile Completion
# Extra Plugin Support
    # GamiPress
    # myCred
    # BadgeOS
    # Buddypress Group Reviews
    # BuddyPress Activity Social Share
    # BuddyPress Check-ins
    # BuddyPress Quotes
    # BuddyPress Polls
    # BuddyPress Profile Pro
    # BuddyPress Activity Social Share
    # BuddyPress Birthday
    # BuddyPress Member/Group Reviews
    # BuddyPress Edit Activity
    # BuddyPress Create Group Type
    # BuddyPress Member Type
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

@import "_custom-properties.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_grid.css";

/*--------------------------------------------------------------
# Global Buddypress Css
--------------------------------------------------------------*/

.buddypress .entry-meta {
    display: none;
}

body.activity .entry-content {
    margin-top: 1em;
}

.buddypress .entry-footer {
    padding: 0;
    border: 0;
}

.buddypress .entry-content ol,
.buddypress .entry-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.buddypress-wrap .select-wrap {
    display: inline-block;
    background-color: #fff;
    border: 1px solid var(--global-border-color);
    border-radius: 3px;
}

.buddypress-wrap .select-wrap select {
    margin-right: 0;
    text-indent: 0;
}

body .buddypress-wrap .subnav-filters .component-filters select,
body .buddypress-wrap .subnav-filters .last select {
    font-size: 14px;
    max-width: 100%;
    width: 100%;
    min-height: 34px;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 0;
}

.buddypress-wrap .standard-form select {
    padding-left: 10px;
}

.buddypress-wrap .select-wrap span.select-arrow {
    display: none;
}

.buddypress-wrap select,
#buddypress.buddypress-wrap form#whats-new-form #whats-new-options select {
    display: inline-block;
    font-family: inherit;
    font-style: inherit;
    font-size: 15px;
    height: 35px;
    outline: none;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid var(--global-border-color);
    border-radius: 3px;
    box-shadow: none;
    padding: 0 12px;
    padding-right: 40px;
    color: inherit;
}

select,
.buddypress-wrap .select-wrap select,
body #buddypress.buddypress-wrap form#whats-new-form #whats-new-options select,
.buddypress-wrap #notification-select,
.buddypress-wrap .standard-form select {
    -webkit-appearance: none;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    padding-right: 40px;
}

.buddypress-wrap input[type="email"]:focus,
.buddypress-wrap input[type="password"]:focus,
.buddypress-wrap input[type="tel"]:focus,
.buddypress-wrap input[type="text"]:focus,
.buddypress-wrap input[type="url"]:focus,
.buddypress-wrap textarea:focus {
    box-shadow: none;
}

.buddypress-wrap .standard-form.profile-edit input:focus {
    background: #fff;
    background-color: rgb(255, 255, 255);
}

#buddypress .comment-reply-link,
#buddypress .generic-button a,
#buddypress .standard-form button,
#buddypress a.button,
#buddypress input[type="button"],
#buddypress input[type="reset"]:not(.text-button),
#buddypress input[type="submit"],
#buddypress ul.button-nav li a,
a.bp-title-button,
#buddypress.buddypress-wrap .activity-list .load-more a,
#buddypress.buddypress-wrap .activity-list .load-newest a,
.buddypress .buddypress-wrap .bp-list.grid .action a,
.buddypress .buddypress-wrap .bp-list.grid .action button,
.buddypress .buddypress-wrap .action button,
form#bp-data-export button,
body.bp-nouveau.media #buddypress div#item-header div#item-header-content button,
body.bp-nouveau.media #buddypress div#item-header div#item-header-content a,
.buddypress .buddypress-wrap button.button,
.buddypress .buddypress-wrap button.button.edit,
.buddypress .buddypress-wrap .btn-default {
    font-family: inherit;
    font-size: initial;
    color: #fff;
    background-color: var(--button_background_color);
    border-radius: 3px !important;
    padding: 8px 20px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    line-height: 1.3;
    border: 1px solid var(--button_border_color);
    outline: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}

#buddypress .comment-reply-link:hover,
#buddypress .generic-button a:hover,
#buddypress .standard-form button:hover,
#buddypress a.button:hover,
#buddypress input[type="button"]:hover,
#buddypress input[type="reset"]:not(.text-button):hover,
#buddypress input[type="submit"]:hover,
#buddypress ul.button-nav li a:hover,
a.bp-title-button:hover,
#buddypress.buddypress-wrap .activity-list .load-more a:hover,
#buddypress.buddypress-wrap .activity-list .load-newest a:hover,
.buddypress .buddypress-wrap .bp-list.grid .action a:focus,
.buddypress .buddypress-wrap .bp-list.grid .action a:hover,
.buddypress .buddypress-wrap .bp-list.grid .action button:focus,
.buddypress .buddypress-wrap .bp-list.grid .action button:hover,
.buddypress .buddypress-wrap .action button:hover,
form#bp-data-export button:hover,
body.bp-nouveau.media #buddypress div#item-header div#item-header-content button:hover,
body.bp-nouveau.media #buddypress div#item-header div#item-header-content a:hover,
.buddypress .buddypress-wrap button.button:hover,
.buddypress .buddypress-wrap button.button.edit:hover,
.buddypress .buddypress-wrap .btn-default:hover {
    background-color: var(--button_background_hover_color);
    border: 1px solid var(--button_border_hover_color);
    color: #fff;
}

.buddypress .buddypress-wrap button.text-button:focus,
.buddypress .buddypress-wrap button.text-button:hover,
.buddypress .buddypress-wrap input.text-button:focus,
.buddypress .buddypress-wrap input.text-button:hover {
    background: 0 0;
    text-decoration: none;
}

body.buddypress #buddypress.buddypress-wrap .wp-editor-tabs button,
body.buddypress #buddypress.buddypress-wrap .standard-form .wp-editor-container button,
body.buddypress #buddypress.buddypress-wrap .standard-form .wp-editor-container input[type=button] {
    background: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 !important;
    color: #555;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    outline: 0;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    width: auto;
    line-height: normal;
}

body.buddypress #buddypress.buddypress-wrap .wp-editor-tabs button:hover,
body.buddypress #buddypress.buddypress-wrap .standard-form .wp-editor-container button:hover,
body.buddypress #buddypress.buddypress-wrap .standard-form .wp-editor-container input[type=button]:hover {
    background: #ededed;
    border-color: #999;
    color: #333;
    outline: 0;
    text-decoration: none;
}

body.buddypress #buddypress.buddypress-wrap .tmce-active button.switch-tmce {
    background: #f5f5f5;
    border-radius: 0 !important;
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#buddypress.buddypress-wrap .wp-switch-editor {
    padding: 3px 8px 4px !important;
}

body.buddypress #buddypress.buddypress-wrap .html-active button.switch-html {
    background: #f5f5f5;
    border-radius: 0 !important;
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.buddypress .buddypress-wrap .wp-editor-container .button-small[type=button] {
    padding: 0 8px 1px !important;
}

.buddypress-wrap .bp-messages,
.buddypress-wrap .bp-feedback {
    padding: 0.615em 2.25em 0.615em 0.7em;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid var(--global-border-color);
    border-radius: 3px;
    box-shadow: none;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.buddypress-wrap .activity-update-form .bp-messages,
.buddypress-wrap .activity-update-form .bp-feedback {
    margin: 10px;
}

.buddypress-wrap .bp-messages .bp-icon,
.buddypress-wrap .bp-feedback .bp-icon {
    margin: -10px;
}

.buddypress-wrap .bp-feedback p {
    font-size: 14px;
    line-height: 1.5;
    padding: 3px;
    padding-left: 8px;
}

.buddypress .avatar {
    border-radius: 3px;
}

.buddypress.round-avatars .avatar {
    border-radius: 50%;
}

@media screen and (min-width: 46.8em) {
    .buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
        border-bottom: 1px solid var(--global-border-color);
        border-top: 0;
        box-shadow: none;
    }
}

@media screen and (max-width: 46.8em) {
    .buddypress-wrap:not(.bp-single-vert-nav) .bp-navs:not(.bp-subnavs) li {
        background: #f5f5f5;
    }
}

.buddypress-wrap .bp-navs li:not(.current) a:focus,
.buddypress-wrap .bp-navs li:not(.current) a:hover,
.buddypress-wrap .bp-navs li:not(.selected) a:focus,
.buddypress-wrap .bp-navs li:not(.selected) a:hover {
    background: transparent;
    color: var(--color-link-hover);
}

.buddypress-wrap .bp-navs li.current a,
.buddypress-wrap .bp-navs li.current a:focus,
.buddypress-wrap .bp-navs li.current a:hover,
.buddypress-wrap .bp-navs li.selected a,
.buddypress-wrap .bp-navs li.selected a:focus,
.buddypress-wrap .bp-navs li.selected a:hover {
    background: transparent;
    color: var(--color-link-hover);
}

.buddypress-wrap .bp-navs li.current a,
.buddypress-wrap .bp-navs li.selected a {
    background: transparent;
    border-bottom: 1px solid var(--color-link-active);
    font-weight: 500;
}

.bp-navs.bp-navs {
    overflow: initial;
}

.buddypress-wrap .bp-subnavs {
    margin: 0;
    border: 0 !important;
}

.buddypress-wrap ul.subnav {
    border-bottom: 1px solid var(--global-border-color);
}

.bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) li {
    margin: 0;
}

.bp-navs::after,
.bp-navs ul::after {
    content: ' ';
    display: table;
    clear: both;
}

.bp-navs ul li a {
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
}

.buddypress-wrap .bp-pagination {
    float: none;
    display: flex;
    justify-content: space-between;
}

.bp-navs ul li .count,
.buddypress-wrap .bp-navs li.dynamic a .count {
    background: #C8CBCF;
    box-shadow: none;
    border-radius: 100px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.26px;
    line-height: 16px;
    border: 0;
    min-width: 22px;
    display: inline-block;
    margin-left: 3px;
    padding: 2px 7px 2px;
    text-align: center;
    vertical-align: middle;
}

.buddypress-wrap .bp-navs li.dynamic a .count:empty {
    display: none;
}

.buddypress-wrap .bp-navs li.current a .count,
.buddypress-wrap .bp-navs li.dynamic.current a .count,
.buddypress-wrap .bp-navs li.selected a .count,
.buddypress_object_nav .bp-navs li.current a .count,
.buddypress_object_nav .bp-navs li.selected a .count {
    background-color: var(--color-link-active);
}

.buddypress #buddypress.bp-dir-hori-nav .create-button a,
.buddypress #buddypress.bp-dir-hori-nav .create-button a:hover {
    text-decoration: none;
}

.buddypress-wrap .subnav-filters {
    margin: 20px 0;
}

.buddypress-wrap form.bp-dir-search-form,
.buddypress-wrap form.bp-invites-search-form,
.buddypress-wrap form.bp-messages-search-form,
.buddypress-wrap .media_search.media_search {
    background-color: #fff;
    border: 1px solid var(--global-border-color);
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#buddypress #group-activity-search,
#buddypress #dir-members-search,
#buddypress #dir-groups-search,
#buddypress #dir-activity-search {
    border: 0;
    background-color: transparent;
    padding-left: 35px;
    font-size: 14px;
    height: 35px;
}

body .buddypress-wrap .bp-invites-search-form input[type="search"],
body .buddypress-wrap form.bp-dir-search-form input[type="search"],
body .buddypress-wrap form.bp-messages-search-form input[type="search"],
.buddypress-wrap form#group-members-search input[type=search],
.buddypress-wrap form#group-members-search input[type=text],
.buddypress-wrap form.bp-dir-search-form input[type=search],
.buddypress-wrap form.bp-dir-search-form input[type=text],
.buddypress-wrap form.bp-messages-search-form input[type=search],
.buddypress-wrap form.bp-messages-search-form input[type=text],
.buddypress-wrap form[data-bp-search].bp-invites-search-form input[type=search],
.buddypress-wrap form[data-bp-search].bp-invites-search-form input[type=text],
.buddypress-wrap .media_search.media_search .media_search_input {
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 16px;
    background-image: url(../images/search.svg);
    background-position: left 10px center;
    padding-left: 2rem;
    width: 100%;
    font-size: 14px;
    min-width: 210px;
}

.buddypress-wrap form.bp-dir-search-form button[type="submit"],
.buddypress-wrap form.bp-messages-search-form button[type="submit"],
.buddypress-wrap form#group-members-search button[type=submit],
.buddypress-wrap form.bp-dir-search-form button[type=submit],
.buddypress-wrap form.bp-messages-search-form button[type=submit],
.buddypress-wrap form[data-bp-search].bp-invites-search-form button[type=submit],
.buddypress-wrap .media_search.media_search .search_option {
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}


/*--------------------------------------------------------------
# rtMedia Specific
--------------------------------------------------------------*/

.activity-list .activity-item .activity-content .rtm-activity-media-list {
    line-height: 0;
}

.rtmedia-activity-container .rtmedia-item-title,
.rtmedia-activity-container .rtmedia-item-title a {
    display: none;
}

.rtmedia-activity-text {
    margin: 0 15px 15px;
    display: inline-block;
}

.buddypress-wrap .activity-comments .acomment-content p {
    margin: 0 15px 15px;
}

.rtm-activity-media-list:not(.rtmedia-activity-media-length-1) {
    display: flex;
    flex-flow: row wrap;
    margin: 0 !important;
    align-items: flex-start;
    position: relative;
}

.rtm-activity-media-list:before,
.rtm-activity-media-list:after {
    content: normal;
}

.media-type-photo .rtmedia-item-thumbnail {
    border-radius: 0 !important;
}

.media-type-photo {
    flex: 0 0 50%;
    max-width: 50%;
}

.rtmedia-activity-media-length-1 .media-type-photo,
.rtmedia-activity-media-length-4 .media-type-photo:first-child,
.rtmedia-activity-media-length-3 .media-type-photo:first-child {
    flex: 0 0 100%;
    max-width: 100%;
    min-width: 0;
}

.rtm-activity-media-list:not(.rtmedia-activity-media-length-1):not(.rtmedia-activity-media-length-3):not(.rtmedia-activity-media-length-4) .media-type-photo:first-child,
.rtm-activity-media-list:not(.rtmedia-activity-media-length-4) .media-type-photo:nth-child(2),
.rtm-activity-media-list.rtmedia-activity-media-length-3 .media-type-photo:nth-child(3) {
    flex: 0 0 50%;
    max-width: 50%;
}

.media-type-photo .rtmedia-item-thumbnail {
    margin: 0;
    padding-top: 100%;
    position: relative;
}

.media-type-photo .rtmedia-item-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}

.rtmedia-activity-media-length-1 .media-type-photo .rtmedia-item-thumbnail {
    padding-top: 0;
}

.rtmedia-activity-media-length-1 .media-type-photo .rtmedia-item-thumbnail img {
    position: relative;
}

.rtm-activity-media-list.rtmedia-activity-media-length-3 .media-type-photo:first-child .rtmedia-item-thumbnail,
.rtm-activity-media-list.rtmedia-activity-media-length-4 .media-type-photo:first-child .rtmedia-item-thumbnail {
    margin: 0;
    padding-top: 52.56%;
    position: relative;
}

.rtm-activity-media-list.rtmedia-activity-media-length-3 .media-type-photo:first-child .rtmedia-item-thumbnail img,
.rtm-activity-media-list.rtmedia-activity-media-length-4 .media-type-photo:first-child .rtmedia-item-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}

.widget .rtmedia-remain-count {
    font-size: 16px;
}

.rtmedia-list-item>a {
    cursor: pointer;
}

.rtmedia-activity-container li.media-type-photo:not(.masonry-brick) .rtmedia-item-thumbnail img {
    object-fit: cover;
}

.rtmedia-activity-container ul.rtmedia-list.rtm-activity-media-list:not(.rtmedia-activity-media-length-1) li.media-type-photo:not(.masonry-brick) {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0;
}

body .rtmedia-activity-container li.media-type-photo {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

body .rtmedia-activity-container ul.rtm-activity-media-list {
    overflow: hidden;
}

.rtmedia-activity-container .rtmedia-list.masonry {
    padding: 0 8px !important;
    margin: 0 7px 6px !important;
}

.rtmedia-activity-container .rtmedia-list.masonry li.media-type-photo {
    width: 32% !important;
    height: auto !important;
    margin: 0 0 8px;
}

.rtmedia-activity-container .rtmedia-list-item.masonry-brick {
    display: inline-block;
    padding: 0 !important;
}

.activity-list .activity-item .activity-meta.action select.rtm-form-select {
    margin-right: 11px;
    min-height: 37px;
    margin-top: 14px;
    vertical-align: bottom;
}

body.bp-nouveau .activity-update-form .rtmedia-plupload-container {
    width: 98%;
}

.buddypress-wrap .rtm-bp-navs ul li a>span {
    background: #c8cbcf;
    box-shadow: none;
    border-radius: 100px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -.26px;
    line-height: 16px;
    border: 0;
    min-width: 22px;
    display: inline-block;
    margin-left: 3px;
    padding: 2px 7px 2px;
    text-align: center;
    vertical-align: text-bottom;
}

.buddypress-wrap .rtm-bp-navs ul li.selected a>span,
.buddypress-wrap .rtm-bp-navs ul li.selected a:hover>span {
    background: var(--color-link-active);
    color: #fff;
}

.buddypress-wrap .rtm-gallery-media-title-container .rtm-media-options {
    margin-bottom: 20px;
}

.buddypress-wrap .rtm-gallery-media-title-container #rtm-media-options:after {
    content: " ";
    display: table;
    clear: both;
}


/* media page media */

.media .rtmedia-list:not(.masonry) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.media .rtmedia-container .rtmedia-list.rtmedia-list-media>li.rtmedia-list-item {
    width: 175px;
    height: 175px;
    overflow: hidden;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    .media .rtmedia-container .rtmedia-list.rtmedia-list-media>li.rtmedia-list-item {
        width: 45%;
        height: 120px;
    }
}

.media .rtmedia-list-item.masonry-brick {
    overflow: hidden;
}

.media .rtmedia-list.rtmedia-list-media>li.rtmedia-list-item .rtmedia-item-thumbnail {
    background: #e8e8e8;
}

.media .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail,
.media .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail img {
    width: 175px;
    height: 175px;
    max-height: 175px;
    max-width: 175px;
    line-height: inherit;
}

.media .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail img {
    max-width: 175px;
    max-height: 175px;
}

@media (max-width: 480px) {
    .media .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail,
    body.media .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail img {
        width: 100%;
        height: 100%;
        min-height: 200px;
        max-height: 200px;
    }
}

.media .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail img {
    object-fit: cover;
    padding: 5px;
}

.media .rtmedia-list.rtmedia-list-media>li.rtmedia-list-item:hover .rtmedia-item-thumbnail>img {
    opacity: .4;
    animation: lightBlur .5s forwards;
}

@-webkit-keyframes lightBlur {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes lightBlur {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}

.media .rtmedia-gallery-item-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 9;
}

.media .rtmedia-list.rtmedia-list-media>li.rtmedia-list-item .rtmedia-gallery-item-actions>a {
    color: rgba(255, 255, 255, 0.8);
    pointer-events: auto;
    text-decoration: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
}

.media .rtmedia-list.rtmedia-list-media>li.rtmedia-list-item .rtmedia-gallery-item-actions>a:not(.rtm-delete-media) {
    background: rgba(248, 248, 248, 0.15);
}

.media .rtmedia-list.rtmedia-list-media>li.rtmedia-list-item .rtmedia-gallery-item-actions .rtm-delete-media {
    margin-top: .5rem;
}

.media .rtmedia-list.rtmedia-list-media>li.rtmedia-list-item .rtmedia-gallery-item-actions .rtm-delete-media:hover {
    color: #f00;
}

.media .rtm-tabs li.active a {
    color: var(--color-link-active);
}

.media .rtm-tabs-content {
    padding: 15px;
    border: 1px solid var(--global-border-color);
    border-top: 0;
}

#buddypress.buddypress-wrap input[type=button],
#buddypress.buddypress-wrap input[type=submit],
#buddypress.buddypress-wrap a.rtm-button-back {
    padding: 8px 20px;
}

.media .rtmedia-editor-buttons {
    margin-top: 15px;
}

button.mfp-close,
button.mfp-arrow {
    border-radius: 0;
}

.rtmedia-gallery-item-actions .dashicons {
    transition: none;
}


/* rtm-lightbox */

body .mfp-arrow {
    cursor: pointer;
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -50px;
    padding: 0;
    width: 50px;
    height: 60px;
    -webkit-tap-highlight-color: transparent;
    opacity: 0;
    z-index: 10;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background: transparent;
    -webkit-appearance: none;
}

body .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    margin-left: 35px;
    border: medium inset transparent;
}

body .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

body .mfp-arrow-left:after,
body .mfp-arrow-right:after {
    font-family: 'FontAwesome';
    font-size: 24px;
    color: #fff;
    border-left: 0;
    margin-left: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .mfp-arrow-left:after {
    content: '\f137';
}

body .mfp-arrow-right:after {
    content: '\f138';
}

body .mfp-arrow-left:before {
    border: none;
}

body .mfp-arrow-right:before {
    border: none;
}


/*--------------------------------------------------------------
# Activity Directory
--------------------------------------------------------------*/

.activity-update-form {
    position: relative;
    margin: 15px 0;
    padding: 0;
    background: #fff;
    border: 1px solid var(--global-border-color);
    border-radius: 8px !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.activity-update-form #whats-new-avatar {
    padding: 12px 15px;
    text-align: left;
    line-height: 0;
}

.activity-update-form #whats-new-avatar img {
    max-width: 50px;
}

#buddypress input#aw-whats-new-submit,
form.ac-form .ac-reply-content input {
    font-size: 14px;
    width: auto;
    font-weight: 500;
    letter-spacing: 0;
    height: 34px;
    padding: 0 20px !important;
    min-height: 34px;
    margin: 0;
    border-radius: 3px !important;
}

select#whats-new-post-in {
    padding-right: 40px;
}

.buddypress-wrap #whats-new-post-in {
    font-size: initial;
}

.activity-update-form #whats-new-content {
    padding: 0;
}

.activity-update-form #whats-new-content {
    margin-left: 65px;
}

.activity-update-form #whats-new-post-in-box,
#buddypress.buddypress-wrap form#whats-new-form #whats-new-submit {
    margin: 10px 0;
    padding: 0;
}

#buddypress.buddypress-wrap form#whats-new-form #whats-new-submit {
    margin-left: auto;
}

.buddypress-wrap #whats-new-textarea {
    margin: 0;
    padding: 12px 15px;
    border: 0;
}

#buddypress #whats-new-options {
    border-top: 1px solid #ddd;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 0;
    padding: 0 15px;
}

#buddypress #whats-new-submit {
    margin: 10px 0 10px auto;
    display: flex;
    flex-flow: row-reverse;
}

.activity-update-form #whats-new-submit input {
    width: auto;
    margin-bottom: 0;
}

@media screen and (max-width: 46.8em) {
    .activity-update-form #whats-new-avatar {
        margin: 0;
        padding-bottom: 0;
    }
    .activity-update-form #whats-new-content {
        margin-left: 0;
    }
}

body.bp-nouveau .activity-update-form .rtmedia-uploader-div {
    margin-left: 15px;
    margin-bottom: 15px;
}

.activity-update-form #whats-new-post-in-box #whats-new-post-in-box-items {
    margin: 0;
}

.activity-update-form #whats-new-post-in-box #whats-new-post-in-box-items li {
    margin: 0 10px;
}

button#rtmedia-add-media-button-post-update,
.rtm-upload-button-wrapper button.rtmedia-comment-media-upload,
button.rtmedia-comment-media-upload {
    padding: .3em .5em !important;
    background: #fff!important;
    color: rgba(0, 0, 0, .6)!important;
    font-weight: 400;
    border-radius: .28571429rem !important;
    text-transform: none;
    text-shadow: none!important;
    box-shadow: inset 0 0 0 1px #e8e8e8;
}

.activity-list.bp-list {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
}

.activity-list.bp-list .activity-item {
    position: relative;
    margin: 2rem 0;
    padding: 0;
    background: #fff;
    border: 1px solid var(--global-border-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px !important;
}

body:not(.logged-in) .activity-list.bp-list .activity-item {
    overflow: hidden;
}

.activity-item-head {
    display: flex;
    margin-bottom: 0;
}

.activity-card-head {
    padding: 12px 15px 11px;
    border-bottom: 1px solid var(--global-border-color);
}

.card-head-content-type {
    margin: 0 !important;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    display: inline-block;
}

.activity-list.item-list .activity-item .activity-avatar {
    margin: 0 15px 0 0;
    width: auto;
    flex: 0 0 40px;
    line-height: 0;
}

.bp-list li .item-avatar a {
    display: inline-block;
    position: relative;
}

.activity-list .activity-item div.item-avatar img,
.activity-list .activity-item.mini .activity-avatar img.avatar,
.activity-list .activity-item.mini .activity-avatar img.FB_profile_pic {
    max-width: 50px;
}

.activity-list .activity-item .activity-header {
    margin: 0;
    width: auto;
}

.activity-item-head {
    padding: 1em;
}

.activity-list .activity-item .activity-header p {
    margin: 0;
}

.activity-list .activity-item .activity-header a:not(.view),
.activity-list .activity-item .activity-header a:not(.activity-time-since),
.activity-list .activity-item .activity-header a:not(.activity-time-since) {
    font-weight: 600;
}

.activity-list .activity-item .activity-header .activity-time-since {
    display: block;
}

.activity-list .activity-item .activity-content .activity-inner,
.activity-list .activity-item .activity-content blockquote {
    background: transparent;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: visible;
}

.buddypress-wrap .activity-inner {
    font-size: inherit;
}

.buddypress-wrap .activity-inner p {
    padding: 0 15px;
    margin-bottom: 15px !important;
}

.activity-list .activity-item .activity-meta.action .fav:before,
.activity-list .activity-item .activity-meta.action .unfav:before {
    content: "\f487";
}

.activity-list .activity-item .activity-meta.action .unfav:before {
    color: #db2828;
}

div#buddypress .activity-read-more {
    margin-left: 0;
}

div#buddypress .activity-read-more a {
    font-size: inherit;
    padding: 0;
    border: 0;
}

div#buddypress .activity-read-more a:hover {
    background: transparent;
}

.buddypress-wrap .activity-list .load-more,
.buddypress-wrap .activity-list .load-newest {
    background: transparent;
    margin: 30px 0 15px 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
}

.buddypress-wrap .activity-list .load-more a,
.buddypress-wrap .activity-list .load-newest a {
    color: inherit;
    display: inline-block;
    padding: .5em 0;
}

.buddypress-wrap .activity-list .load-more:focus,
.buddypress-wrap .activity-list .load-more:hover,
.buddypress-wrap .activity-list .load-newest:focus,
.buddypress-wrap .activity-list .load-newest:hover {
    border: 0;
    box-shadow: none;
}

.activity-list .activity-item .activity-meta.action {
    border: 0;
    border-top: 1px solid var(--global-border-color);
    background: rgba(217, 217, 217, 0.05);
    margin: 0;
    padding: 15px;
    padding-top: 0;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.activity-list .activity-item.has-comments .activity-content>.activity-meta.action {
    border-bottom: 1px solid var(--global-border-color);
}

.bp-list li .action .generic-button {
    font-size: inherit;
}

.activity-list.bp-list .activity-item .activity-meta.action .generic-button {
    margin-right: 11px;
    margin-top: 15px;
}

.activity-list.bp-list .activity-item .activity-meta.action .generic-button .fa {
    min-width: 23px;
    font-size: 18px;
    line-height: 1.3;
}

.activity-list .activity-item .activity-meta.action .bp-screen-reader-text {
    clip: auto;
    height: auto;
    margin: 0;
    margin-left: 5px;
    overflow: visible;
    position: relative;
    width: auto;
}

.activity-list .activity-item .activity-meta.action .button {
    padding: 6px 12px !important;
    background: 0 0;
    color: inherit;
    background: #fff!important;
    color: rgba(0, 0, 0, .6)!important;
    font-weight: 400;
    border-radius: .28571429rem !important;
    text-transform: none;
    text-shadow: none!important;
}

.activity-list .activity-item .activity-meta.action .button span {
    color: inherit;
    vertical-align: middle;
}

.activity-list .activity-item .activity-content>.activity-meta.action .button {
    border: 1px solid var(--global-border-color) !important;
}

#buddypress .activity-list .activity-item .activity-content>.activity-meta.action .button {
    border-radius: .28571429rem !important;
}

.activity-list .activity-item .activity-content>.activity-meta.action .button:hover {
    border: 1px solid rgba(0, 0, 0, .8) !important;
    color: rgba(0, 0, 0, .8)!important;
}

.buddypress-wrap .activity-comments {
    margin: 0;
}

form.ac-form .ac-reply-content {
    color: inherit;
    padding-left: 0;
}

form.ac-form .ac-reply-avatar img {
    border: 0;
    max-width: 38px;
}

.buddypress-wrap .activity-comments div.acomment-avatar img {
    border-width: 0;
    float: left;
    height: 38px;
    max-width: none;
    width: 38px;
}

#buddypress input#aw-whats-new-submit,
form.ac-form .ac-reply-content input {
    margin-left: 10px;
}

.buddypress-wrap button.ac-reply-cancel,
.buddypress-wrap button.bp-icons {
    background: 0 0 !important;
    border: 0 !important;
    text-decoration: none !important;
}

.activity-list .activity-item .activity-meta.action .delete-activity:before {
    content: "\f182";
}

.buddypress-wrap .activity-comments ul {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}

.buddypress-wrap .activity-comments ul li {
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--global-border-color);
}

.activity-list .activity-item div.item-avatar {
    margin: 15px;
    text-align: left;
    line-height: 0;
    float: left;
}

.buddypress-wrap .activity-comments .acomment-meta {
    color: inherit;
    overflow: visible;
    padding-left: 0;
    margin-top: 15px;
}

.buddypress-wrap .activity-comments .acomment-content {
    border-left: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.activity-list .activity-item.mini,
.buddypress-wrap .activity-comments .acomment-meta,
.buddypress-wrap .activity-comments .acomment-content p {
    font-size: inherit;
}

.buddypress-wrap .activity-comments ul li ul {
    margin-left: 0;
    border-top: 1px solid var(--global-border-color);
}

.activity-list .activity-item .activity-comments .activity-meta.action {
    margin: 0;
    border: 0;
}

body.activity-permalink .activity-list .activity-avatar {
    left: 0;
    position: relative;
    top: 0;
}

body.activity-permalink .activity-list .activity-content {
    margin-right: 0;
}

body.activity-permalink .activity-list .activity-comments {
    margin-bottom: 0;
}

body.activity-permalink .activity-comments>ul {
    padding: 0;
}

body.activity-permalink .activity-list .activity-content .activity-inner,
body.activity-permalink .activity-list .activity-content blockquote {
    margin-left: 0;
    margin-top: 0;
}

input#rt_media_comment_submit {
    margin-left: 6px;
}

.rtmedia-comment-user-pic img,
.userprofile img {
    border-radius: 3px;
}

#buddypress .rtm-like-comments-info:after {
    content: none;
}


/*--------------------------------------------------------------
# Members Directory
--------------------------------------------------------------*/

.bp-pagination.top {
    display: none;
}

.member-status {
    background: #00E652;
    border: 2px solid #fff;
    border-radius: 100%;
    position: absolute;
    width: 12px;
    height: 12px;
    right: -4px;
    top: -4px;
}

.round-avatars .member-status {
    right: 2px;
    top: 0;
}

.grid .member-status {
    right: 18px;
    top: 5px;
    width: 14px;
    height: 14px;
}


/* List View */

.bp-list {
    border: 0;
}

.bp-list li .list-wrap::after,
.bp-list li .list-wrap::before {
    content: " ";
    display: table;
}

.bp-list li .list-wrap::after {
    clear: both;
}

.bp-list>li {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}

.bp-list>li .list-wrap {
    position: relative;
    margin: 1rem 0;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px !important;
    background: #fff;
}

.buddypress-wrap .members-list li .member-name,
.buddypress-wrap .members-list li .last-activity {
    margin: 0;
}

.bp-list li .action div.generic-button,
.bp-list li .action li.generic-button {
    margin: 10px;
    padding: 0;
}

.bp-list:not(.grid) li .action #bupr-view-review-btn {
    width: auto;
}

@media screen and (min-width: 46.8em) {
    .bp-list:not(.grid) li .item .item-block {
        float: left;
        margin-right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .bp-list li .item-avatar img.avatar {
        max-width: 50px;
    }
    .bp-list li .item-avatar {
        float: left;
        margin-right: 15px;
        line-height: 0;
    }
    .bp-list li .action div.generic-button:last-child,
    .bp-list li .action li.generic-button:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 46.8em) {
    .bp-list li .action {
        margin-top: 20px;
    }
    .bp-list li .item-avatar {
        margin-bottom: 15px;
        line-height: 0;
    }
}


/* Grid View */

.buddypress-wrap .grid.bp-list {
    padding-top: 0;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
    width: auto;
    margin: 0 -15px;
}

.buddypress-wrap .grid.bp-list:after,
.buddypress-wrap .grid.bp-list>li:after,
.buddypress-wrap .grid.bp-list:before,
.buddypress-wrap .grid.bp-list>li:before {
    content: normal;
}

.buddypress-wrap .grid.bp-list>li {
    border-bottom: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0 15px;
}

.grid>li {
    width: 100%;
}

.grid.bp-list>li .list-wrap {
    margin: 0;
}

.grid.members-list .list-wrap {
    min-height: 40px;
}

.buddypress-wrap .grid.bp-list>li .list-wrap {
    height: 100%;
    padding-bottom: 15px;
}

.buddypress:not(.logged-in) .grid.bp-list .list-wrap {
    padding-bottom: 15px;
}

.buddypress-wrap .grid.bp-list>li .item,
.buddypress-wrap .grid.bp-list>li .item .group-desc,
.buddypress-wrap .grid.bp-list>li .item .item-block {
    width: 100%;
}

.buddypress-wrap .grid.bp-list>li .item .item-block {
    margin-bottom: 0;
}

.buddypress-wrap .grid.bp-list>li .action {
    bottom: 0;
    float: none;
    height: auto;
    padding: 0;
    position: relative;
    top: 0;
    margin: auto;
    margin-top: 20px;
}

.buddypress-wrap .grid.bp-list>li .item-avatar img.avatar {
    max-width: 126px;
    width: 100%;
}

.grid.members-list .list-wrap .item-block,
.buddypress:not(.logged-in) .grid.members-list .list-wrap {
    min-height: 100%;
}

.buddypress-wrap .grid.bp-list>li .action .generic-button {
    margin: 10px 0 0;
}

@media screen and (min-width: 24em) {
    .grid.four>li {
        width: 50%;
    }
}

@media screen and (min-width: 46.8em) {
    .grid.four>li {
        width: 33.333333%;
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 73.2em) {
    .grid.four>li {
        width: 25%;
    }
}


/*--------------------------------------------------------------
# Groups Directory
--------------------------------------------------------------*/


/* List View */

@media screen and (min-width: 46.8em) {
    #groups-list.bp-list .item {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    #groups-list.bp-list:not(.grid) li .item-avatar img.avatar {
        max-width: 85px;
    }
    #groups-list.bp-list:not(.grid) li .item .item-block {
        display: block;
        width: auto;
        flex: 0 0 60%;
        min-height: 85px;
    }
    .buddypress-wrap .groups-list li .last-activity {
        margin-top: 0;
    }
    .buddypress-wrap .groups-list li .item-meta {
        margin-bottom: 0;
        width: 100%;
    }
}

.buddypress-wrap .groups-list li .list-title {
    margin-bottom: 10px;
}


/* Grid View */

.buddypress:not(.logged-in) .grid.groups-list .list-wrap,
.grid.groups-list .list-wrap {
    min-height: 100%;
}

.buddypress-wrap .grid.three>li .group-desc,
.buddypress-wrap .grid.four>li .group-desc {
    min-height: 100%;
}

.groups-list .list-wrap .group-desc {
    display: none;
}


/* group-create */

#group-create-body {
    position: relative;
    margin: 1rem 0 30px;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
}

.buddypress-wrap .bp-invites-content .item-list li .invite-button span.icons:before {
    font-size: 25px;
}

@media screen and (min-width: 46.8em) {
    .buddypress-wrap .tabbed-links ol li.current a,
    .buddypress-wrap .tabbed-links ul li.current a {
        color: var(--color-link-active);
    }
    .buddypress-wrap .tabbed-links ol.group-create-buttons li.current a {
        border-bottom: 0;
    }
}

.buddypress .bp-invites-content ul.item-list>li {
    float: left;
    padding-left: .5em;
    padding-right: .5em;
    width: 49.5%;
    background-color: #fff;
    border: 1px solid var(--global-border-color);
    margin: 0 0 -1px;
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    position: relative;
    align-items: center;
    border-radius: 0;
}

@media screen and (max-width: 46.8em) {
    .buddypress .bp-invites-content ul.item-list>li {
        width: 100%;
    }
}

.buddypress .bp-invites-content ul.item-list>li .item {
    flex: 0 0 50%;
}

.buddypress .bp-invites-content ul.item-list>li .item .list-title {
    font-size: 20px;
    margin: 0;
    text-align: left;
}


/*--------------------------------------------------------------
# Member Single
--------------------------------------------------------------*/

body.buddypress.bp-user #page #primary .entry-header,
body.buddypress.single-item.groups #page #primary .entry-header,
body.buddypress.group-create #page #primary .entry-header {
    display: none;
}

#item-header-content .member-review-stars {
    display: initial;
}

@media (--sidebar-query) {
    .has-buddypress-sidebar-right .member-home,
    .has-buddypress-sidebar-both .member-home,
    .has-buddypress-sidebar-right .group-home,
    .has-buddypress-sidebar-both .group-home {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 2rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

#cover-image-container,
#buddypress #header-cover-image {
    height: 300px;
    border-radius: 0;
}

.users-header #cover-image-container,
.users-header #buddypress #header-cover-image,
.groups-header #cover-image-container,
.groups-header #buddypress #header-cover-image {
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
}

.item-header-cover-image-wrapper {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    margin: 1rem 0;
    padding: 1em;
    border-radius: 8px !important;
    border: 1px solid var(--global-border-color);
    z-index: 1;
    margin: -50px 0 0;
}

#buddypress #item-header-cover-image #item-header-avatar {
    margin-top: 0;
}

#buddypress.buddypress-wrap #item-header-cover-image {
    min-height: auto;
    margin: 0;
    padding: 0;
}

.bp-wrap {
    width: 100%;
}

.bp-single-vert-nav .bp-wrap {
    margin-top: 16px;
}

.buddypress-wrap:not(.bp-vertical-navs) .item-body {
    margin: 20px 0;
    position: relative;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px !important;
    background: #fff;
}

#item-header-cover-image #item-header-avatar {
    padding: 0;
}

.single-headers img.avatar {
    margin: 0;
}

#buddypress #item-header-cover-image #item-header-avatar img.avatar {
    box-shadow: 0 2px 5px 0 rgba(18, 43, 70, .12), 0 0 0 1px #E7E9EC;
    border: 5px solid #fff;
    max-width: 150px;
}

#buddypress div#item-header #item-header-cover-image #item-header-content {
    clear: none;
    float: none;
    margin-left: 152px;
    margin-top: 0;
    width: auto;
}

body.bp-nouveau.media #buddypress #item-header-cover-image .user-nicename,
#buddypress div#item-header-cover-image h2 a,
#buddypress div#item-header-cover-image h2 {
    color: #111;
    text-rendering: inherit;
    text-shadow: none;
    margin: 0 0 15px;
    font-size: 200%;
}

#buddypress #item-header-cover-image #item-header-avatar img.avatar {
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

#buddypress.round-avatars #item-header-cover-image #item-header-avatar img.avatar {
    border-radius: 50%;
}

body.bp-nouveau.media #buddypress div#item-header div#item-header-content ul li,
body.bp-nouveau.media #buddypress div#item-header div#item-header-content ul div,
.single-headers li.generic-button {
    margin: 10px 10px 0 0;
}

.single-headers .item-meta {
    margin: 0 0 10px;
    padding-bottom: 0;
}

.buddypress-wrap .profile.public .profile-group-title {
    border-bottom: 1px solid var(--global-border-color);
    padding-bottom: 5px;
}


/* message-threads */

.bp-messages-content #thread-preview .preview-content .actions {
    display: flex;
    align-items: center;
}

.bp-messages-content #thread-preview .preview-content .preview-message {
    margin: 10px 0;
    padding: 0 15px;
}

.bp-messages-content #bp-message-thread-list .message-metadata {
    border-bottom: 0;
    box-shadow: -2px 1px 9px 0 #e8e8e8;
    display: table;
    padding: 10px 15px;
    width: 100%;
}

.bp-messages-content #bp-message-thread-list li:nth-child(2n) .message-content {
    padding: 0 15px;
}


/* notifications */

.buddypress-wrap table.notifications .bulk-select-all,
.buddypress-wrap table.notifications .bulk-select-check {
    text-align: center;
}

.bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) li.current:last-child a {
    border-bottom: 1px solid;
}

#friend-list.bp-list>li .list-wrap {
    width: 100%;
}

#friend-list.bp-list>li .list-wrap .action {
    line-height: 1;
}

.buddypress-wrap .accept,
.buddypress-wrap .reject {
    margin-left: 0;
}

.buddypress-wrap .notifications-options-nav input#notification-bulk-manage {
    margin-left: 10px;
    line-height: 1.3;
    border: 1px solid transparent;
}


/* group-invites */

#group-list.bp-list:not(.grid) li .item p:not(.meta) {
    display: none;
}

@media screen and (min-width: 46.8em) {
    #group-list.bp-list:not(.grid) li .item-avatar img.avatar {
        max-width: 85px;
    }
    #group-list.bp-list .item {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    #group-list.bp-list .item .item-block {
        width: 50%;
    }
    #group-list.bp-list .item .list-title {
        font-size: 26px;
        margin: 0;
    }
    #group-list.bp-list .item .group-details {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 46.8em) {
    .buddypress-wrap #group-list.bp-list .accept,
    .buddypress-wrap #group-list.bp-list .reject {
        float: none;
        margin-left: 0;
    }
}

@media screen and (max-width: 782px) {
    #buddypress #item-header-cover-image #item-header-avatar img.avatar {
        margin-bottom: 15px;
    }
    #buddypress div#item-header #item-header-cover-image #item-header-content {
        margin-left: 0;
        padding: 0;
    }
    .single-headers h2 {
        text-align: center;
    }
    .single-headers ul li {
        float: none;
    }
}

@media screen and (min-width: 46.8em) and (max-width: 782px) {
    .single-headers a.button,
    .single-headers div.generic-button,
    .single-headers li.generic-button {
        float: none;
    }
}

@media screen and (min-width: 46.8em) {
    .buddypress-wrap .main-navs:not(.dir-navs) li.current a,
    .buddypress-wrap .main-navs:not(.dir-navs) li.selected a {
        background: transparent;
    }
    .bp-single-vert-nav .bp-wrap:not(.bp-fullwidth-wrap) {
        display: flex;
        flex-flow: row wrap;
        background: #fff;
        border: 1px solid var(--global-border-color);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        padding: 0;
        border-radius: 8px!important;
    }
    nav#object-nav.vertical {
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 230px;
        flex: 0 0 230px;
        float: left;
        margin: 0;
        min-height: 50vh;
        padding: 0;
        background: #fdfdfd;
        border-radius: 8px 0 0 8px;
        border: 0;
        border-right: 1px solid var(--global-border-color);
        padding: 20px 0;
    }
    .bp-single-vert-nav .bp-navs.vertical ul {
        border-right: 0;
        border-bottom: 0;
        float: none;
        margin-right: 0;
        width: auto;
    }
    #buddypress.buddypress-wrap #item-body:not(#group-create-body) {
        padding: 15px;
    }
    .bp-single-vert-nav .item-body:not(#group-create-body) {
        padding: 15px;
        flex: 1;
        min-width: 1px;
        margin: 0;
        border-left: 0;
        background: transparent;
    }
    nav#object-nav.vertical a {
        border: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1px;
        padding: 10px 15px;
    }
    .bp-single-vert-nav .bp-navs.vertical li:focus,
    .bp-single-vert-nav .bp-navs.vertical li:hover {
        background: transparent;
    }
    nav#object-nav.vertical .selected>a {
        background: rgba(77, 92, 109, .1);
        color: var(--color-link-active);
    }
    nav#object-nav.vertical a:hover {
        background: rgba(77, 92, 109, .1);
        color: var(--color-link-active);
    }
    .bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) {
        margin: 0;
        margin-bottom: 15px;
    }
    .bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) {
        background: transparent;
    }
    .bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) li.current a {
        color: var(--color-link-active);
        text-decoration: none;
    }
    .bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) li {
        font-size: inherit;
    }
    .bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) li a {
        font-size: inherit;
        border-right: 0;
        padding: .5em calc(.5em + 2px);
    }
}

@media screen and (max-width: 46.8em) {
    .buddypress-wrap .single-screen-navs {
        position: relative;
        margin: 15px 0;
        padding: 0;
        background: #fff;
        border: 1px solid var(--global-border-color);
        border-radius: 8px!important;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    }
    .bp-navs ul li a,
    .bp-navs ul li span {
        padding: 10px;
    }
    .buddypress-wrap .item-body {
        margin: 20px 0;
        position: relative;
        padding: 1em;
        border: 1px solid var(--global-border-color);
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        border-radius: 8px !important;
        background: #fff;
    }
    #buddypress.buddypress-wrap #item-body {
        padding: 1em;
    }
    .buddypress-wrap .bp-subnavs ul li {
        float: left;
    }
    .buddypress-wrap:not(.bp-single-vert-nav) .bp-navs li {
        background: transparent;
    }
    .media .media_search.media_search {
        margin-top: 15px;
    }
}

.buddypress-wrap button[data-bp-close]:hover {
    border: 0;
}

#item-header-content img.bpsts-name-icon {
    display: inline;
}

.bpsts-icon-dialog-title .bpsts-icon-div img {
    margin: auto;
}

.buddypress.settings .profile-settings.bp-tables-user select {
    width: auto;
}


/*--------------------------------------------------------------
# Group Single
--------------------------------------------------------------*/

.single-headers #item-header-avatar a img {
    width: 150px;
    height: 150px;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
    margin-top: 0;
    margin-left: 152px;
    clear: none;
    max-width: 100%;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
    padding-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 782px) {
    body.single-item.groups #buddypress div#item-header #item-header-cover-image {
        display: flex;
    }
    body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content {
        float: left;
        margin-left: 0;
    }
    body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
        float: right;
        margin-left: auto;
    }
}

.groups-header .moderators-lists {
    margin-bottom: 0;
}

.groups-header div#item-header-content {
    padding-top: 0;
}

.single-headers .activity {
    display: block;
    font-size: inherit;
    margin: 0 0 10px;
    padding: 0;
}

.groups-header .desc-wrap {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    margin: 10px 0 0;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    border-radius: 8px!important;
}

.groups-header .desc-wrap .group-description {
    background: transparent;
    box-shadow: none;
    padding: 0;
    text-align: left;
}

@media screen and (min-width: 46.8em) {
    .groups-header .groups-meta {
        clear: none;
    }
    .buddypress .bp-vertical-navs .groups-list .item-avatar {
        margin-right: 15px;
        width: auto;
    }
    .bp-list li .member-info-wrapper .item-meta,
    .bp-list li .member-info-wrapper .meta {
        margin: 0;
    }
}

@media screen and (max-width: 782px) {
    #buddypress div#item-header #item-header-cover-image #item-header-content,
    body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content,
    body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
        margin-left: 0;
        padding: 0;
    }
    body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
        margin-top: 15px;
        text-align: center;
    }
}

#item-body #group-invites-container .bp-invites-content .item-list>li {
    background-color: #fff;
    border: 1px solid var(--global-border-color);
    border-bottom: 0;
    margin: 0;
    margin-bottom: -1px;
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    position: relative;
    align-items: center;
    border-radius: 0;
    width: 100%;
}

#item-body #group-invites-container .bp-invites-content .item-list>li:last-child {
    border-bottom: 1px solid var(--global-border-color);
}

#item-body #group-invites-container .bp-invites-content .list-title {
    font-size: 20px;
    margin: 0;
    width: 100%;
    text-align: left;
}

#buddypress.buddypress-wrap .bp-invites-content .item-list li .invite-button {
    color: inherit;
    padding: 0;
}

.buddypress .bp-invites-content li .status {
    font-size: 13px;
    font-style: normal;
    clear: both;
    color: inherit;
    margin: 0;
    display: none;
}

#buddypress ul.group-inviters {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.bp-list ul.group-inviters li .item {
    overflow: initial;
}

#buddypress .bp-invites-content li ul.group-inviters li {
    padding: 0;
    border: 0;
    float: left;
    font-size: 11px;
    width: inherit;
}

#buddypress .bp-invites-content li .item-meta {
    margin: 0;
}

#buddypress .bp-invites-content li .item-avatar {
    margin-right: 15px;
    margin-bottom: 0;
}

.buddypress .bp-invites-content ul.item-list li .action {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 0;
    margin-left: auto;
    height: auto;
    min-height: 10px;
    padding: 0;
    min-width: 40px;
    border: 0;
    color: inherit;
    background: transparent;
    box-shadow: none;
}

#buddypress ul.group-inviters li .avatar {
    max-width: 20px;
    margin-left: 6px !important;
}

.buddypress-wrap form[data-bp-search].bp-invites-search-form {
    float: left;
}

.group-member-actions {
    margin-left: 65px;
}

#group-roles-filter label {
    display: none;
}

#group-members-list-table .alignleft {
    margin-right: 15px;
}

#group-members-list-table td {
    padding: 8px 10px;
    border: 1px solid var(--global-border-color);
    border-radius: 4px;
}

.button.avatar-crop-submit,
button#bp-delete-avatar {
    margin-top: 15px;
}


/*--------------------------------------------------------------
# BuddyPress Sidebar
--------------------------------------------------------------*/

.buddypress-wrap .buddypress.widget .avatar-block,
.buddypress.widget .avatar-block {
    margin: 0 -5px;
}

.buddypress.widget .avatar-block img {
    margin: 5px;
}

.buddypress-wrap .widget.buddypress div.item-content,
.buddypress-wrap .widget.buddypress div.item-meta,
.widget.buddypress div.item-content,
.widget.buddypress div.item-meta {
    margin: 0;
}

#buddypress.buddypress-wrap .widget.buddypress ul.item-list,
.widget.buddypress ul.item-list {
    border: 0;
}

#buddypress.buddypress-wrap .widget.buddypress ul.item-list li div.item-title,
.widget.buddypress ul.item-list li div.item-title {
    width: 100%;
    font-size: inherit;
    font-weight: 600;
}

.buddypress-wrap .widget.buddypress div.item,
.widget.buddypress div.item {
    margin-bottom: 0;
}

.buddypress-wrap .widget.buddypress .item-avatar a,
.widget.buddypress .item-avatar a {
    float: none;
    margin-bottom: 0;
    margin-right: 0;
}

.buddypress-wrap .widget.buddypress div.item-avatar img,
.widget.buddypress div.item-avatar img {
    height: 50px;
    width: 50px;
}

.buddypress-wrap .widget.buddypress div.item-options,
.buddypress-wrap .buddypress.widget .item-options,
.widget.buddypress div.item-options,
.buddypress.widget .item-options {
    margin: 0 0 1em;
    padding: 0 0 1em;
}

.buddypress.widget .item-options a.selected {
    color: var(--color-link-active);
}

.buddypress-wrap .buddypress.widget:after,
.buddypress.widget:after {
    content: "";
    display: table;
    clear: both;
}

.buddypress-wrap .buddypress.widget ul#friends-list li:last-child,
.buddypress-wrap .buddypress.widget ul#groups-list li:last-child,
.buddypress-wrap .buddypress.widget ul#members-list li:last-child,
.buddypress-wrap .buddypress.widget ul#friends-list li:last-child,
.buddypress-wrap .buddypress.widget ul#groups-list li:last-child,
.buddypress-wrap .buddypress.widget ul#members-list li:last-child,
.buddypress.widget ul#friends-list li:last-child,
.buddypress.widget ul#groups-list li:last-child,
.buddypress.widget ul#members-list li:last-child,
.buddypress.widget ul#friends-list li:last-child,
.buddypress.widget ul#groups-list li:last-child,
.buddypress.widget ul#members-list li:last-child {
    margin-bottom: 0;
}

.buddypress-wrap .buddypress.widget ul#friends-list,
.buddypress-wrap .buddypress.widget ul#groups-list,
.buddypress-wrap .buddypress.widget ul#members-list,
.buddypress.widget ul#friends-list,
.buddypress.widget ul#groups-list,
.buddypress.widget ul#members-list {
    margin: 0;
    width: 100%;
}

.buddypress-wrap .buddypress.widget ul#friends-list li,
.buddypress-wrap .buddypress.widget ul#groups-list li,
.buddypress-wrap .buddypress.widget ul#members-list li,
.buddypress.widget ul#friends-list li,
.buddypress.widget ul#groups-list li,
.buddypress.widget ul#members-list li {
    flex: 0 1 auto;
    margin: 0 0 1em;
    padding: 0;
    width: 100%;
    border: 0;
}

.buddypress-wrap .buddypress.widget ul#friends-list li .item-avatar,
.buddypress-wrap .buddypress.widget ul#groups-list li .item-avatar,
.buddypress-wrap .buddypress.widget ul#members-list li .item-avatar,
.buddypress-wrap .buddypress.widget ul#friends-list li .item,
.buddypress-wrap .buddypress.widget ul#groups-list li .item,
.buddypress-wrap .buddypress.widget ul#members-list li .item,
.buddypress.widget ul#friends-list li .item-avatar,
.buddypress.widget ul#groups-list li .item-avatar,
.buddypress.widget ul#members-list li .item-avatar,
.buddypress.widget ul#friends-list li .item,
.buddypress.widget ul#groups-list li .item,
.buddypress.widget ul#members-list li .item {
    padding: 0;
}

.widget.buddypress .item-title {
    font-weight: 600;
}

.buddypress.widget blockquote,
.widget.buddypress.bp-latest-activities blockquote {
    padding: 0;
    border: 0;
}

.widget.buddypress.bp-latest-activities .activity-list {
    padding: 0;
}

.widget.buddypress.bp-latest-activities .rtmedia-activity-text span {
    margin: 0;
}

.widget.buddypress.bp-latest-activities footer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--global-border-color);
}

.widget.buddypress.bp-latest-activities blockquote:last-child footer {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.widget.buddypress.bp-latest-activities blockquote cite {
    margin-right: 15px;
}


/*--------------------------------------------------------------
# Extra Plugins Support
--------------------------------------------------------------*/

.blpro-locked-title-header {
    margin-top: 1rem;
}


/*--------------------------------------------------------------
# BuddyPress Profile Completion
--------------------------------------------------------------*/

.wb-bp-profile-completion-wrap .wb-bp-user-avatar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.wb-bp-profile-completion-wrap .wb-bp-user-avatar img {
    width: 50px;
    height: 51px;
    max-width: 50px;
    border-radius: 50% !important;
}

.wb-bp-profile-completion-wrap .wb-bp-progress-label {
    margin-left: 12px;
}

.wb-bp-profile-completion-wrap .wb-bp-progress-label span {
    display: block;
    line-height: 1.1;
}

.wb-bp-profile-completion-wrap span.wb-bp-completion {
    color: #121212;
    font-size: 32px;
}

.wb-bp-profile-completion-wrap .wb-bp-progress-wrap .wb-bp-progress-container {
    border-radius: 12px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.wb-bp-profile-completion-wrap .wb-bp-progress-container .wb-bp-progress {
    height: 3px;
    background-color: #4caf50;
    border-radius: 12px !important;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #5856d6, #ff2d55);
}

.wb-bp-profile-completion-wrap .wb-bp-detailed-progress-container {
    margin-top: 30px;
}

.wb-bp-profile-completion-wrap ul.wb-bp-detailed-progress {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wb-bp-profile-completion-wrap ul.wb-bp-detailed-progress li.wb-bp-single-section-wrap {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.wb-bp-profile-completion-wrap ul.wb-bp-detailed-progress li.wb-bp-single-section-wrap:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.wb-bp-profile-completion-wrap ul.wb-bp-detailed-progress li.wb-bp-single-section-wrap span.wb-bp-completed-staus {
    display: inline-block;
    font-size: 14px;
    width: 50px;
    height: 26px;
    text-align: center;
    float: right;
    vertical-align: middle;
    border: 2px solid #4caf50;
    border-radius: 30px;
}

.wb-bp-profile-completion-wrap ul.wb-bp-detailed-progress li.wb-bp-single-section-wrap.incomplete span.wb-bp-completed-staus {
    border: 2px solid red;
}

.wb-bp-profile-completion-wrap ul.wb-bp-detailed-progress li.wb-bp-single-section-wrap span.wb-bp-section-number {
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 100px;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
}

.wb-bp-profile-completion-wrap ul.wb-bp-detailed-progress li.wb-bp-single-section-wrap.completed span.wb-bp-section-number {
    background: #4caf50;
    border-color: #4caf50;
}

.wb-bp-profile-completion-wrap ul.wb-bp-detailed-progress li.wb-bp-single-section-wrap.completed span.wb-bp-section-number:before {
    content: "";
    display: inline-block;
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 6px;
    height: 15px;
    width: 9px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
}


/*--------------------------------------------------------------
## GamiPress
--------------------------------------------------------------*/

.users-header .gamipress-buddypress-points,
.users-header .gamipress-buddypress-achievements .gamipress-buddypress-achievement,
.users-header .gamipress-buddypress-ranks .gamipress-buddypress-rank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0 0;
}

@media screen and (max-width: 782px) {
    .users-header .gamipress-buddypress-points,
    .users-header .gamipress-buddypress-achievements .gamipress-buddypress-achievement,
    .users-header .gamipress-buddypress-ranks .gamipress-buddypress-rank {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.users-header .center-view .gamipress-buddypress-points,
.users-header .center-view .gamipress-buddypress-achievements .gamipress-buddypress-achievement,
.users-header .center-view .gamipress-buddypress-ranks .gamipress-buddypress-rank {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.users-header .gamipress-buddypress-achievements .gamipress-buddypress-achievement,
.users-header .gamipress-buddypress-ranks .gamipress-buddypress-rank {
    margin-top: 0;
    margin-bottom: 0;
}

.users-header .gamipress-buddypress-points-type {
    margin: 0 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.users-header .gamipress-buddypress-points img.gamipress-points-thumbnail {
    border-radius: 100%;
    margin-right: 5px;
}

body #buddypress #item-header-cover-image span.activity {
    font-size: 14px;
}

.activity.gamipress-buddypress-points-label {
    margin-left: 2px;
}

.users-header .gamipress-buddypress-achievements .gamipress-buddypress-achievement-type-label {
    margin-right: 10px;
    font-weight: 500;
}

.users-header .gamipress-buddypress-achievements .gamipress-buddypress-achievement-type-label {
    margin-right: 10px;
    font-weight: 500;
}

.users-header .gamipress-buddypress-achievement-title {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.users-header .gamipress-buddypress-achievements img.gamipress-achievement-thumbnail {
    border-radius: 100%;
    margin-right: 5px;
}

.users-header .gamipress-buddypress-ranks {
    margin-bottom: 10px;
}

.users-header .gamipress-buddypress-ranks .gamipress-buddypress-rank-label {
    margin-right: 10px;
    font-weight: 500;
}

.users-header .gamipress-buddypress-ranks .gamipress-buddypress-rank a.activity {
    font-size: 14px;
}

.users-header .gamipress-buddypress-ranks img.gamipress-rank-thumbnail {
    border-radius: 100%;
    margin-right: 5px;
}

.users-header .gamipress-buddypress-rank-title {
    margin-right: 10px;
}

.gamipress-user-points:not(.gamipress-layout-none) .gamipress-points {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    background-color: #fff;
    border: 1px solid var(--global-border-color);
    border-radius: 4px;
    padding-bottom: 20px;
    overflow: visible;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media (max-width: 1200px) {
    .gamipress-user-points:not(.gamipress-layout-none) .gamipress-points {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .gamipress-user-points:not(.gamipress-layout-none) .gamipress-points {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.gamipress-user-points-image {
    margin-right: 15px;
    min-width: 50px;
}

.gamipress-user-points:not(.gamipress-layout-none) .gamipress-points .gamipress-user-points-description span {
    display: block;
    margin-top: 0;
}

.gamipress-open-close-switch {
    text-align: left;
    padding: 5px 0;
    font-size: 12px;
    text-transform: uppercase;
}

#gamipress-achievements-container[class*="gamipress-columns"]>.gamipress-achievement,
.gamipress-user-points[class*="gamipress-columns"]>.gamipress-points,
.gamipress-points-types[class*="gamipress-columns"]>.gamipress-points-type,
.gamipress-ranks-container[class*="gamipress-columns"] .gamipress-rank {
    background: #fff;
    border: 1px solid var(--global-border-color);
    border-radius: 4px;
}

.gamipress-achievements-list .gamipress-achievements-container .gamipress-achievement-description>h4,
.gamipress-ranks-list .gamipress-ranks-container .gamipress-rank-description>h4 {
    margin-bottom: 5px;
    font-size: 14px;
}

table#gamipress-earnings-table thead,
table#gamipress-earnings-table tbody {
    background: #fff;
}

table#gamipress-earnings-table thead tr th,
table#gamipress-earnings-table tbody tr td {
    padding: 10px;
}

input#gamipress-achievements-search-input {
    height: 44px;
    vertical-align: middle;
}

.gamipress-logs-list .gamipress-log {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid var(--global-border-color);
}

.gamipress-logs-list .gamipress-log:first-child {
    border-top: 1px solid var(--global-border-color);
}

#gamipress-achievements-filter select {
    margin-left: 0;
}

#gamipress-achievements-search {
    margin-right: 0;
}

.gamipress_achievements_widget #gamipress-achievements-search {
    width: 100%;
}

.gamipress_achievements_widget #gamipress-achievements-search label {
    display: block;
}

.gamipress_achievements_widget input#gamipress-achievements-search-input {
    height: 42px;
    display: block;
    float: left;
}

.activity-list .activity-item .activity-content .gamipress-rank,
.activity-list .activity-item .activity-content .gamipress-points-award,
.activity-list .activity-item .activity-content .gamipress-achievement {
    margin: 0 15px 15px;
}


/*--------------------------------------------------------------
## myCred
--------------------------------------------------------------*/

.users-header #mycred-users-badges {
    height: 35px;
}

#mycred-users-badges .the-badge {
    display: inline-block;
}

.users-header #mycred-users-badges .mycred-badge-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

#mycred-users-badges .mycred-badge-image {
    display: inline-block;
    margin: 5px 5px 0 0;
}

.buddypress-wrap .profile.public .mycred h4 {
    border-bottom: 1px solid var(--global-border-color);
    padding-bottom: 5px;
}

table.mycred-table thead,
table.mycred-table tbody,
table.mycred-table tfoot {
    background: #fff;
}

table.mycred-table thead tr th,
table.mycred-table tbody tr td,
table.mycred-table tfoot tr th {
    padding: 10px;
    border: 1px solid var(--global-border-color);
}


/*--------------------------------------------------------------
## BadgeOS
--------------------------------------------------------------*/

.activity-inner .badgeos-achievements-list-item {
    padding: 0;
    border-bottom: 0;
}

#badgeos-earned-achievements-container .grid>li,
#badgeos-achievements-container .grid>li,
#badgeos-earned-ranks-container .grid>li,
#badgeos-earned-achievements-container .list>li,
#badgeos-achievements-container .list>li,
#badgeos-earned-ranks-container .list>li,
.earned-user-credits-wrapper .badgeos-credits:nth-child(odd),
.earned-user-credits-wrapper .badgeos-credits:nth-child(even),
.achievement-wrap.earned {
    margin: 1rem;
    padding: 1em !important;
    border: 1px solid var(--global-border-color) !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
}

.achievement-wrap.earned {
    margin: 0;
}

ul.badgeos-achievement-earners-list li img {
    max-width: 50px;
    border-radius: 100%;
}

#badgeos-earned-achievements-container .list>li,
#badgeos-achievements-container .list>li,
#badgeos-earned-ranks-container .list>li {
    margin: 1rem 0;
}

#badgeos-earned-achievements-container .badgeos-achievements-list-item {
    padding: 0;
    border: 0;
}

h2.badgeos-item-title,
.badgeos-credits h3 {
    margin: 0 0 15px !important;
}

.badgeos-item-excerpt p {
    margin: 0;
}

.activity-list .activity-item .activity-content .badgeos-achievements-list-item,
.activity-list .activity-item .activity-content .badgeos-points-list-item,
.activity-list .activity-item .activity-content .badgeos-ranks-list-item {
    margin: 0 15px 15px;
}

#badgeos-earned-achievements-container .selected,
#badgeos-achievements-container .selected,
#badgeos-earned-ranks-container .selected {
    background-color: #111 !important;
}

table.badgeos-rank-table thead,
table.badgeos-rank-table tbody,
table.badgeos-rank-table tfoot {
    background: #fff;
}

table.badgeos-rank-table thead tr th,
table.badgeos-rank-table tbody tr td,
table.badgeos-rank-table tfoot tr th {
    padding: 10px;
    border: 1px solid var(--global-border-color);
}

.earned-user-credits-wrapper .badgeos-credits:nth-child( odd) {
    margin: 20px 1%;
}

.earned-user-credits-wrapper .badgeos-credits:nth-child( even) {
    margin: 20px 2%;
}

.earned-user-credits-wrapper .badgeos-credits .badgeos-earned-credit {
    padding: 0;
}

@media (max-width: 767px) {
    #badgeos-earned-achievements-container .grid>li,
    #badgeos-achievements-container .grid>li,
    #badgeos-earned-ranks-container .grid>li,
    .earned-user-credits-wrapper .badgeos-credits:nth-child( odd),
    .earned-user-credits-wrapper .badgeos-credits:nth-child( even) {
        width: 100% !important;
        margin: 1rem 0;
    }
    #badgeos-earned-achievements-container .badgeos-arrange-buttons,
    #badgeos-earned-ranks-container .badgeos-arrange-buttons,
    #badgeos-achievements-container .badgeos-arrange-buttons {
        margin-top: 15px;
    }
}

@media (max-width: 400px) {
    .badgeos-rank-table {
        font-size: 12px;
    }
}

.buddyx-badge {
    margin: 5px 0;
}

.buddyx-badge .ps-badgeos__list {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

@media screen and (max-width: 782px) {
    .buddyx-badge .ps-badgeos__list {
        justify-content: center;
    }
}

.buddyx-badge .ps-badgeos__item img {
    max-width: 36px;
    margin: 5px 5px 0 0;
}


/*--------------------------------------------------------------
## Buddypress Group Reviews
--------------------------------------------------------------*/

.groups-list .bgr-header-row {
    width: 100%;
    text-align: center;
}


/*--------------------------------------------------------------
## BuddyPress Activity Social Share
--------------------------------------------------------------*/

.bp-nouveau .activity-list .activity-item .activity-meta.action .bp-share-button::before {
    margin-right: 5px;
}

body:not(.logged-in) .activity-list .activity-item .activity-meta .bp-share-button {
    margin: 15px;
}


/*--------------------------------------------------------------
## BuddyPress Check-ins
--------------------------------------------------------------*/

.bpchk-marker-container {
    margin: 15px 0;
}

.bpchk-marker-container {
    margin-right: 10px;
}

.bp-checkins.bp-checkin-panel {
    width: 100%;
    margin: 0 0 15px;
}


/*--------------------------------------------------------------
## BuddyPress Quotes
--------------------------------------------------------------*/

.quote-btn {
    margin: 15px 0;
}

.bp-nouveau .site-wrapper .bpquotes-bg-selection-div {
    margin-bottom: 5px;
}


/*--------------------------------------------------------------
## BuddyPress Polls
--------------------------------------------------------------*/

.bp-nouveau .site-wrapper .bpolls-html-container {
    margin: 15px 0;
}

.wb-quote.bp-nouveau .site-wrapper .bpolls-html-container {
    margin-left: 10px;
}


/*--------------------------------------------------------------
## BuddyPress Profile Pro
--------------------------------------------------------------*/

.buddypress-wrap .profile .bp-widget abbr {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--global-border-color);
    cursor: auto;
}


/*--------------------------------------------------------------
## BuddyPress Activity Social Share
--------------------------------------------------------------*/

body:not(.logged-in) .bp-share-btn.generic-button {
    font-family: inherit;
    font-size: 14px;
    margin: 10px;
    border-radius: 3px !important;
    padding: 8px 12px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    line-height: 1.3;
    border: 1px solid 1px solid var(--global-border-color);
    outline: 0;
    vertical-align: middle;
    transition: all .2s linear;
    margin: 15px !important;
}


/*--------------------------------------------------------------
## BuddyPress Birthday
--------------------------------------------------------------*/

.birthday-item-content i {
    margin-left: 5px;
}


/*--------------------------------------------------------------
## BuddyPress Member/Group Reviews
--------------------------------------------------------------*/

.bupr-bp-member-review-no-popup-add-block #bupr_save_review,
.buddypress .buddypress-wrap .bgr-group-review-no-popup-add-block .bgr-submit-review,
.buddypress-wrap .bgr-group-review-no-popup-add-block .bgr-submit-review {
    font-size: 14px;
}

.member-review-stars {
    font-size: 14px;
    margin: 5px 0 0;
}

.rating-bgr {
    font-size: 14px;
}


/*--------------------------------------------------------------
## BuddyPress Edit Activity
--------------------------------------------------------------*/

#frm_buddypress-edit-activity textarea {
    width: calc(100% - 30px) !important;
    min-height: 60px;
    margin: 0 15px 15px !important;
}

#buddypress .activity-list .activity-item .activity-content>.activity-meta.action .button.buddyboss_edit_activity,
#buddypress .activity-list .activity-item .activity-content>.activity-meta.action .buddyboss_edit_activity_cancel {
    margin-right: 11px;
    margin-top: 15px;
}

.activity-list .activity-item .activity-meta.action .button.buddyboss_edit_activity.action-edit:before {
    content: "\f464";
}

.activity-list .activity-item .activity-meta.action .button.buddyboss_edit_activity_cancel:before {
    content: "\f335";
}

.activity-list .activity-item .activity-meta.action .button.buddyboss_edit_activity.action-save:before {
    content: "\f15e";
}


/*--------------------------------------------------------------
## BuddyPress Create Group Type
--------------------------------------------------------------*/

.groups-header .bp-group-type-list {
    font-size: inherit;
}

@media screen and (max-width: 782px) {
    .groups-header .bp-group-type-list {
        display: flex;
        justify-content: center;
    }
}

.item-list.groups-list.bp-list:not(.grid) .item-meta.wb-bpgt-group-types {
    flex: 1;
    margin: 0;
}


/*--------------------------------------------------------------
## BuddyPress Member Type
--------------------------------------------------------------*/

body.buddypress.bp-user .buddypress-wrap .users-header .bp-member-type-list {
    font-size: 14px;
    color: inherit;
}