/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Activity Directory
# Members Directory
# Groups Directory
# Member Single
# Group Single
# Sidebar Widegts
# Forums
# Documents
# Extra Plugins Support
    # BuddyPress Sticky Post
    # BuddyPress Quotes
    # BuddyPress Moderation Pro
    # Profile Types
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Activity Directory
--------------------------------------------------------------*/

img.emoji,
img.emojioneemoji {
    width: 18px !important;
    height: 18px !important;
}

@media screen and (max-width: 46.8em) {
    .activity-update-form #whats-new-avatar {
        padding-bottom: 15px;
    }
}

.dropzone.dz-started .dz-default.dz-message .dz-button {
    padding-top: 0 !important;
    background: transparent !important;
    border: 0;
}

.activity-attached-gif-container,
.messages-attached-gif-container {
    background-repeat: no-repeat;
    margin: 15px 0;
    max-width: 100%;
}

.bb-media-info-section .activity-comments form {
    margin: 0;
}

.activity-update-form #whats-new {
    min-height: 50px;
}

.activity-update-form #whats-new-content {
    margin-left: 0;
}

#whats-new-messages-toolbar,
#whats-new-toolbar {
    padding: 15px;
}

.activity-update-form #whats-new {
    padding: 0;
    border: 0;
}

#whats-new-attachments.empty {
    display: none;
}

.activity-content .bb-activity-media-elem .entry-img {
    border-radius: 0;
}

.activity-list .activity-item .activity-meta.action .bp-screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important;
}

.buddypress-wrap .bp-feedback p,
.bp-feedback .bp-help-text {
    padding-left: 25px;
}

.activity-list .activity-item .activity-header .activity-time-since:before {
    content: none;
}


/*--------------------------------------------------------------
# Members Directory
--------------------------------------------------------------*/

.member-action-wrapper {
    margin-left: auto;
}

.bp-single-vert-nav .bp-wrap {
    margin-bottom: 15px;
}


/*--------------------------------------------------------------
# Groups Directory
--------------------------------------------------------------*/

#group-create-body .creation-step-name {
    margin: 1em 0;
}

.group-create-links {
    margin-bottom: 20px;
}

.group-settings-selections fieldset {
    margin-top: 20px;
}

.buddypress-wrap .standard-form #group-create-body label,
.buddypress-wrap .standard-form #group-create-body span.label {
    display: inline;
}

.buddypress-wrap select#group-invites-send-to-input {
    height: auto;
    background-image: none;
    padding-right: 10px;
}

#bp-invites-submit-loader .dashicons-update:before {
    content: "\f463";
    font-family: dashicons;
}


/*--------------------------------------------------------------
# Member Single
--------------------------------------------------------------*/

#buddypress #item-header-cover-image #item-header-avatar {
    float: left;
    overflow: visible;
    width: auto;
}

@media screen and (min-width: 783px) {
    #buddypress div#item-header #item-header-cover-image #item-header-content {
        padding: 0;
        padding-left: 2em;
        display: flex;
        flex-direction: column;
    }
    .single-headers img.avatar {
        float: left;
    }
}

@media screen and (max-width: 782px) {
    #buddypress #item-header-cover-image #item-header-avatar {
        float: none;
    }
    #buddypress #item-header-cover-image #item-header-avatar img.avatar {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.item-header-cover-image-wrapper {
    min-height: 185px;
}

.my-messages .bp-vertical-navs .member-home,
.messages .bp-vertical-navs .member-home {
    grid-template-columns: 1fr;
}

.my-messages .bp-vertical-navs .member-home aside#secondary,
.messages .bp-vertical-navs .member-home aside#secondary {
    display: none;
}

.bb-select-container span.select2-selection__choice__remove:before {
    content: "\f335";
    font-family: dashicons;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
    margin-bottom: 15px;
}

@media screen and (min-width: 46.8em) {
    .friends-request-list li {
        flex-flow: wrap;
    }
}

.friends-request-list .bp-generic-meta.friends-meta.action {
    display: flex;
    flex-flow: wrap;
}

@media screen and (max-width: 46.8em) {
    .friends-request-list .bp-generic-meta.friends-meta.action {
        justify-content: center;
    }
}

.friends-request-list .bp-generic-meta.friends-meta.action div.generic-button,
.friends-request-list .bp-generic-meta.friends-meta.action li.generic-button {
    margin: 10px 10px 0 0;
}

.friends-request-list>li {
    position: relative;
    margin: 1rem 0;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px !important;
    background: #fff;
}

.friends-request-list>li .item-meta {
    margin: 0;
}


/*--------------------------------------------------------------
# Group Single
--------------------------------------------------------------*/

@media screen and (max-width: 782px) {
    .groups-header .moderators-lists {
        display: block;
    }
}

.activity-list .activity-item .bp-generic-meta.action .unfav .like-count {
    color: rgba(0, 0, 0, .6);
}

.activity-list .activity-item .bp-generic-meta.action {
    border: 0;
    border-top: 1px solid var(--global-border-color);
    background: rgba(217, 217, 217, 0.05);
    margin: 0;
    padding: 15px;
    padding-top: 0;
    position: relative;
    text-align: left;
}

.activity-list .activity-item.has-comments .activity-content>.bp-generic-meta.action {
    border-bottom: 1px solid var(--global-border-color);
}

.activity-list.bp-list .activity-item .bp-generic-meta.action .generic-button {
    margin-right: 11px;
    margin-top: 15px;
}

.activity-list.bp-list .activity-item .bp-generic-meta.action .generic-button .fa {
    min-width: 23px;
    font-size: 18px;
    line-height: 1.3;
}

.activity-list .activity-item .bp-generic-meta.action .button {
    padding: 6px 12px !important;
    background: 0 0;
    color: inherit;
    background: #fff!important;
    color: rgba(0, 0, 0, .6)!important;
    font-weight: 400;
    border-radius: .28571429rem !important;
    text-transform: none;
    text-shadow: none!important;
}

.activity-list .activity-item .bp-generic-meta.action .button span {
    color: inherit;
    vertical-align: middle;
}

.activity-list .activity-item .activity-content>.bp-generic-meta.action .button {
    border: 1px solid var(--global-border-color) !important;
}

#buddypress .activity-list .activity-item .activity-content>.bp-generic-meta.action .button {
    border-radius: .28571429rem !important;
}

.activity-list .activity-item .activity-content>.bp-generic-meta.action .button:hover {
    border: 1px solid rgba(0, 0, 0, .8) !important;
    color: rgba(0, 0, 0, .8)!important;
}

.activity-list .activity-item .bp-generic-meta.action .delete-activity:before {
    content: "\eaea";
}

.activity-list .activity-item .activity-comments .bp-generic-meta.action {
    margin: 0;
    border: 0;
}

.activity-list .activity-item .bp-generic-meta.action select.rtm-form-select {
    margin-right: 11px;
    min-height: 37px;
    margin-top: 14px;
    vertical-align: bottom;
}

.activity-list .activity-item .bp-generic-meta.action .fav:before,
.activity-list .activity-item .bp-generic-meta.action .unfav:before {
    content: "\e815";
}

.activity-list .activity-item .bp-generic-meta.action .unfav:before {
    color: #db2828;
}

#item-body #group-invites-container {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.group-invites .bp-single-vert-nav .item-body:not(#group-create-body) #subnav.bp-invites-nav:not(.tabbed-links) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 0;
}

#group-invites-container .bp-groups-tab {
    background: transparent;
}

.group-invites-members-listing ul li .action {
    margin-left: auto;
}

.send-invites .bp-vertical-navs .group-home,
.groups.messages .bp-vertical-navs .group-home {
    grid-template-columns: 1fr;
}

.send-invites .bp-vertical-navs .group-home aside#secondary,
.groups.messages .bp-vertical-navs .group-home aside#secondary {
    display: none;
}

.bb-album-actions {
    margin-top: 0;
}

#buddypress .groups-manage-members-list .members-manage-buttons .button {
    min-width: 20px;
    display: inline-block;
    font-size: 12px;
    min-height: 20px;
    padding: 4px 12px;
    margin: 8px 5px 0 0;
}

.groups-manage-members-list ul li {
    border: 1px solid #eee !important;
    margin-bottom: 10px;
    padding: 15px;
}

.bb-album-content-wrap h4 {
    font-size: 16px;
}


/*--------------------------------------------------------------
# Sidebar Widegts
--------------------------------------------------------------*/

.buddypress.widget ul.item-list {
    overflow: visible;
}

.widget.buddypress #groups-list li,
.elementor-widget-wrap #groups-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 100%;
}

.widget.buddypress #friends-list li,
.elementor-widget-wp-widget-bp_core_members_widget #friends-list li,
.elementor-widget-wp-widget-bp_core_members_widget #members-list li,
.widget.buddypress #members-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 100%;
}

.buddypress.widget ul.item-list li .item-avatar {
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    margin-right: 15px;
    position: relative;
}

.buddypress.widget ul.item-list li .item-avatar img.avatar {
    min-width: 50px;
}

.buddypress.widget ul.item-list li .item {
    padding: 0;
}

.more-block {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 0;
    display: block;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
}

.buddypress.widget .avatar-block img {
    margin-bottom: 8px;
    margin-right: 8px;
}

.buddypress.widget .activity-update .update-item p {
    margin: 0;
}

.buddypress.widget .activity-update {
    margin-bottom: 15px;
}

.buddypress.widget .activity-update:last-child {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Forums
--------------------------------------------------------------*/

#bbpress-forums ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#bbpress-forums li.bbp-header .bbp-reply-author {
    text-align: left;
}

#bbpress-forums div.bbp-the-content-wrapper {
    background: #fff;
}

.bbp-topic-meta .bbp-author-link {
    display: inline-flex;
    align-items: center;
    margin-left: 3px;
}

span.bbp-author-avatar img {
    margin-top: -4px;
}

.bbpress #bbpress-forums .medium-editor-toolbar.active .medium-editor-toolbar-actions,
.buddypress #buddypress.buddypress-wrap .medium-editor-toolbar.active .medium-editor-toolbar-actions {
    opacity: 1;
}

.bbp-topic-form .medium-editor-element:not(.emojionearea) {
    min-height: 100px;
}

.bbp-topic-title span.bbp-topic-started-by {
    display: flex;
}

.bbp-topic-title span.bbp-topic-started-in {
    display: block;
    margin-top: 5px;
}

.bbp-topic-freshness-author {
    display: flex;
    justify-content: center;
}

.bp-messages-content {
    border-left: 1px #e8e8e8 solid;
    margin-left: 15px;
    padding-left: 15px;
}

.bbpress #bbpress-forums .medium-editor-toolbar.active .medium-editor-toolbar-actions,
.buddypress #buddypress.buddypress-wrap .medium-editor-toolbar.active .medium-editor-toolbar-actions {
    opacity: 0.8;
}

.bp-messages-content #bp-message-content .medium-editor-toolbar .medium-editor-toolbar-actions button {
    color: rgb(77, 92, 109)!important;
}

.medium-editor-element:not(.emojionearea) {
    padding: 10px;
    min-height: 120px;
    border: 1px #d6d6d6 solid;
    border-radius: 4px;
}

#bbpress-forums .medium-editor-element ul {
    list-style: disc;
    margin: 0 0 1.5em 3em;
    padding: 0;
}

#bbpress-forums .medium-editor-element ol {
    list-style: decimal;
    margin: 0 0 1.5em 3em;
    padding: 0;
}

.bp-messages-content #bp-message-content {
    padding: 20px 0;
    margin-top: 0px;
}

@media screen and (max-width: 767px) {
    .bp-messages-content-wrapper {
        height: 100%;
    }
}

#bp-message-thread-list li {
    border-color: #d6d6d6;
    border-radius: 4px;
}

.messages-wrapper #subnav #compose-personal-li a {
    border: none;
}

.medium-editor-element p {
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.bp-messages-content .send-reply {
    margin-top: 20px;
}

.bp-messages-content .send-reply #bp-message-content {
    margin-top: 0px;
}

@media only screen and (max-width: 1080px) {
    .bp-messages-content {
        border: none;
        margin-left: 0px;
    }
}

.bp-feedback:not(.custom-homepage-info) {
    width: 100%;
}


/*--------------------------------------------------------------
# Documents
--------------------------------------------------------------*/

.search-document-list .media-folder_items .media-folder_details .media-folder_name,
#media-folder-document-data-table .media-folder_items .media-folder_details .media-folder_name {
    color: inherit;
}

.buddypress-wrap form.bp-dir-search-form input[type="search"],
.buddypress-wrap form.bp-dir-search-form input[type="text"],
.buddypress-wrap form.bp-messages-search-form input[type="search"],
.buddypress-wrap form.bp-messages-search-form input[type="text"],
.buddypress-wrap form.bp-invites-search-form input[type="search"],
.buddypress-wrap form.bp-invites-search-form input[type="text"] {
    float: none;
}

.directory.document .screen-content {
    position: relative;
}

.directory.document .document-options {
    position: relative;
}

.directory.document .bp-feedback {
    width: 100%;
    margin: 0;
}

.directory.document .document-search {
    position: relative;
}

.directory.document .subnav-filters .subnav-search .bp-dir-search-form #dir-document-search,
.bp-document-listing .media-search-form .bp-dir-search-form #group-document-search,
.bp-document-listing .media-search-form .bp-dir-search-form #group-document-search {
    width: 100%;
    background-image: url(../images/search.svg);
}

.bp-media-header-wrap #search-documents-form.media-search-form:after {
    content: none;
}

.bp-document-listing .media-search-form {
    margin: 0 0 15px;
}

.bp-document-listing .bp-media-header-wrap .bb-title {
    width: 100%;
}

.bp-document-listing .bb-media-actions-wrap {
    margin: 0;
    margin-left: 10px;
}

.bp-document-listing .bp-media-header-wrap .bb-media-actions-wrap {
    margin-bottom: 20px;
}

.bb-media-container .bp-messages,
.bb-media-container .bp-feedback {
    width: 100%;
}

.bp-nouveau .buddypress-wrap .bp-document-listing form.bp-dir-search-form {
    border: 0;
}

.bp-nouveau .buddypress-wrap .bp-document-listing form.bp-dir-search-form button[type="submit"] {
    display: none;
}

#media-stream .document-data-table-head,
#media-folder-document-data-table .media-folder_items,
.search-document-list .media-folder_items {
    width: 100%;
}

.bp-document-listing .media-search-form .bp-dir-search-form {
    border-radius: 100px;
}

#media-stream.document-parent #media-folder-document-data-table .media-folder_items {
    margin: 0;
}

.bb-activity-media-wrap .bb-activity-media-elem.document-activity {
    margin-left: 6px;
}


/*--------------------------------------------------------------
## BuddyPress Sticky Post
--------------------------------------------------------------*/

.bpsp-pin-tool[data-bp-tooltip]:before,
.bpsp-pin-tool[data-bp-tooltip]:after {
    display: none;
}

.blpro-locked-title-header {
    margin-top: 1rem;
}

#buddypress .activity-list .activity-item .activity-content>.bp-generic-meta.action .button.bpsp-pin-tool .fa {
    font-size: 14px;
    margin-right: 2px;
}


/*--------------------------------------------------------------
## BuddyPress Quotes
--------------------------------------------------------------*/

body.wb-quote .buddypress-wrap #whats-new-textarea {
    padding: 0;
}

body.wb-quote .activity-update-form #whats-new {
    min-height: 70px;
    padding: 12px 15px;
    border-radius: 0;
}


/*--------------------------------------------------------------
## BuddyPress Moderation Pro
--------------------------------------------------------------*/

#buddypress .activity-list .activity-item .activity-content>.bp-generic-meta.action .button.bmpro-flag-activity-btn::before {
    content: "\f227";
    font-family: dashicons;
    opacity: 1;
    background: none;
    position: relative;
}

#buddypress .activity-list .activity-item .activity-content>.bp-generic-meta.action .button.bmpro-flag-activity-btn::after {
    content: none;
}


/*--------------------------------------------------------------
## BuddyPress Edit Activity
--------------------------------------------------------------*/

.activity-list .activity-item .activity-meta.action .button.buddyboss_edit_activity.action-edit:before {
    content: '\e89b';
    margin-right: 3px;
}

.activity-list .activity-item .activity-meta.action .button.buddyboss_edit_activity_cancel:before {
    content: '\e828';
    margin-right: 3px;
}

.activity-list .activity-item .activity-meta.action .button.buddyboss_edit_activity.action-save:before {
    content: '\e8c5';
    margin-right: 3px;
}


/*--------------------------------------------------------------
# Profile Types
--------------------------------------------------------------*/

.member-info-wrapper .bp-member-type {
    margin: 5px 0 0;
    display: block;
}

.users-header .bp-member-type {
    background: var(--color-link-hover);
    border-radius: 100px;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    letter-spacing: .25px;
    text-align: center;
    display: inline-block;
    padding: 4px 10px 4px;
    line-height: 1;
    margin: 0 0 10px;
    width: max-content;
}